/* Write your CSS here */
.navbar {
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-container {
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  max-width: 1200px;
}
.logo {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
}
.hamburger-icon {
  color: black;
  height: 30px;
  width: 30px;
}
.hamburger-button {
  border: none;
  background-color: transparent;
}
.close-button {
  border: none;
  background-color: transparent;
  align-self: flex-end;
}
.separator {
  width: 100%;
  color: #dcdcdc;
  opacity: 0.3;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.home-icon {
  color: #1e293b;;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}
.about-icon {
  color: #1e293b;;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}
.close-icon {
  color: #616e7c;
  height: 30px;
  width: 30px;
  align-self: flex-end;
}
.nav-item {
  color: #1e293b;
  font-family: roboto;
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
}
.model-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1100px;
}
.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
